---
---

@import 'colors';

// If the current view has no Spotify object selected, give it a grey background
// uses an image since you can't cross-fade to a linear gradient in CSS
body {
  background-image: url("../images/backgrounds/grey-background.png");
  transition: background-image 0.5s;
  background-size: auto 100%;
}

body.empty-view {
  // Imitates the linear-gradient but via an image because you can't cross-fade
  // linear gradients in CSS
  background-image: url("../images/backgrounds/gradient-background.png");
}

a:focus, button:focus { outline: 2px $white dashed; }

.page-container, .page-container * {
  font-family: 'Montserrat', sans-serif;
}

.page-container
{
  color: $text-grey;
  margin-top: 0px;
}

/* Customize the header color */
header { background-color: $purple; }

/* Add basic pill button styling */
.apollo-btn
{
  display: inline-block;
  background-color: $apollo-purple;
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-size: 14px;
}

/* Add hover to not diabled apollo buttons */
.apollo-btn:not(.disabled):hover
{
  background-color: $apollo-purple-light;
}

/* Make grey if disabled */
.apollo-btn.disabled { background-color: $light-grey; }

.post-authorize {
  margin-top: 10px;
}

/* Hide Apollo graphing and track display until a song is loaded */
#apollo-main { display: none; }

/* Style the top menu */
.menu-bar {
  display: flex;
  margin-bottom: 20px;
}

.menu-option {
  width: 25%;
  background-color: $extra-light-grey;
  vertical-align: top;
  padding: 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 0px;
  border-top: 0px;

  &:first-of-type { border-radius: 5px 0 0 5px; }
  &:last-of-type { border-radius: 0 5px 5px 0; }
}

/* Remove border on edges and added rounding */
.menu-option:first-of-type { border-left: 0px; }
.menu-option:last-of-type { border-right: 0px; }

.menu-option:hover
{
  background-color: $light-grey;
}
.menu-option.active
{
  background-color: $apollo-purple;
  color: $white;
}
.menu-option .text { margin-top: 5px }
.menu-sep
{
  width: 0.2%;
  height: 80%;
  margin-top: 0.7%;
  background: $mid-grey;
  float: left;
}
.menu-option .icon
{
  height: calc(100% - 20px);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.menu-option#song .icon { background-image: url("../images/menu/song.png"); }
.menu-option#song-compare .icon { background-image: url("../images/menu/songcompare.png"); }
.menu-option#album .icon{ background-image: url("../images/menu/album.png"); }
.menu-option#playlist .icon { background-image: url("../images/menu/playlist.png"); }

.menu-option.active#song .icon { background-image: url("../images/menu/song-white.png"); }
.menu-option.active#song-compare .icon { background-image: url("../images/menu/songcompare-white.png"); }
.menu-option.active#album .icon{ background-image: url("../images/menu/album-white.png"); }
.menu-option.active#playlist .icon { background-image: url("../images/menu/playlist-white.png"); }

.input-bar-cont { transition: margin-top 0.5s; }

.input-bar-cont.active { margin-top: 10%; }

.input-bar-cont #interact-prompt
{
  font-weight: normal;
  color: $white;
}

.input-bar
{
  display: inline-block;
  position: relative;
  background: $extra-light-grey;
  padding: 10px 30px;
  margin: auto;
  border-radius: 5px;
  text-align: left;
}
.input-bar .apollo-btn
{
  width: 140px;
  text-align: center;
}
.input-label
{
  display: inline-block;
  width: 170px;
  text-align: right;
}

input[type="text"]
{
  width: 300px;
  height: 29px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px $mid-grey inset;
  padding: 0px 10px;
  border: none;
  font-size: 14px;
}
#search-field
{
  margin-top: 5px;
  /*background-image: url("search.svg");*/
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: 98% center;
}

/* Search Styling */
.search-results
{
  display: none;
  position: absolute;
  top: 73px;
  left: 206px;
  z-index: 15;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 2px 3px $charcoal;
  background: $light-grey;
  width: 500px;
  padding: 5px;
}
#search-no-results
{
  padding: 0px 30px;
  font-weight: normal;
}
.search-listing
{
  height: 100px;
  text-align: left;
  background-color: $light-grey;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  box-shadow: border-box;
  margin-bottom: 5px;
}
.search-listing:last-of-type { margin-bottom: 0px; }
.search-listing:hover
{
  background-color: $extra-light-grey;
}
.search-listing img
{
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
.search-listing .listing-text
{
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 25%;
  max-width: calc(100% - 120px)
}
.listing-text .track-title
{
  font-size: 18px;
  font-weight: bold;
}
.listing-text .author { font-size: 14px; }
/* End Search Styling */

#spotify-error
{
  display: none;
  background-color: $apollo-red;
  padding: 10px 30px;
  margin: 10px 0px;
  border-radius: 5px;
  color: $white;
}

.album-image-cont
{
  display: inline-block;
  position: relative;
  width: 20%;
  cursor: pointer;
  border: none;
}
.album-image-cont img
{
  box-shadow: 2px 2px 5px $mid-grey;
  margin-top: 10%;
}
.album-image-cont .album-image
{
  position: relative;
  width: 100%;
  z-index: 10;
}
.album-image-cont .record
{
  border-radius: 100px;
  position: absolute;
  top: -10%;
  z-index: 5;
  width: 96%;
  left: 2%;
}
.album-image-cont:hover > .record.hidden
{
  top: -12% !important; // sass-lint:disable-line no-important
}
/* If playing a song */
@keyframes spin {
  to { transform: rotate(360deg); }
}
.album-image-cont.playing .record
{
  -moz-animation: spin 30s linear infinite;
  -o-animation: spin 30s linear infinite;
  -webkit-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
}
.album-image-cont.playing .album-image { z-index: 0; }
.track-info .track-text
{
  display: inline-block;
  width: 78.5%;
  margin-left: 1%;
  vertical-align: top;
  margin-top: 20px;
  background: $extra-light-grey;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.track-info #title { margin: 0px; }
.track-info #artists { margin-top: 0px; }


.non-graph-data .left-col, .right-col
{
  display: inline-block;
  text-align: left;
  width: 48%;
  box-sizing: border-box;
}
.non-graph-data .left-col
{
  padding-left: 20%;
}
.non-graph-data .right-col
{
  padding-right: 20%;
  margin-left: 2%;
}
.non-graph-data .data-item
{
  margin-right: 10px;
  height: 30px;
}
.non-graph-data .left-text
{
  color: $text-grey;
  float: left;
}
.non-graph-data .right-text { float: right; }


/* Graph Styling */
.graph-top-cont
{
  background: $extra-light-grey;
  border-radius: 5px;
  margin-top: 10px;
}
.graph-cont
{
  padding-top: 2%;
  background: $white;
  height: 50%;
}
.graph-col
{
  display: inline-block;
  position: relative;
  width: calc(100% / 7);
  height: 100%;
}
.col-title
{
  display: inline-block;
  width: calc(100%/7);
  position: relative;
  padding-bottom: 10px;
  text-overflow: ellipsis;
}
.col-title:hover > .col-desc { display: block; }
.col-title .std-dev {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin: 5px auto 0px auto;
  color: $charcoal;
}
.col-desc {
  display: none;
  position: absolute;
  width: 250%;
  left: -75%;
  bottom: 95%;
  padding: 10px;
  box-sizing: border-box;
  background: $charcoal;
  color: $white;
  border-radius: 5px;
  z-index: 5;
}
.col-desc::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $charcoal transparent transparent transparent;
}
/* Add column icons */
.col-icon
{
  width: 25%;
  padding-bottom: 25%; /* Makes divs square if matches width */
  margin: 10% auto 5% auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.acousticness .col-icon { background-image: url("../images/col-icons/acousticness.png"); }
.danceability .col-icon { background-image: url("../images/col-icons/danceability.png"); }
.energy .col-icon { background-image: url("../images/col-icons/energy.png"); }
.instrumentalness .col-icon { background-image: url("../images/col-icons/instrumentalness.png"); }
.liveness .col-icon { background-image: url("../images/col-icons/liveness.png"); }
.speechiness .col-icon { background-image: url("../images/col-icons/speechiness.png"); }
.valence .col-icon { background-image: url("../images/col-icons/valence.png"); }


.graph-col .fill
{
  background: $apollo-purple;
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  height: 0%;
  transition: height 1s;
}
.fill.fill-1, .fill.fill-2 {
  width: 40%;
}
.fill.fill-1 { background-color: $apollo-purple-light; }
.fill.fill-2 { left: 50%; }

.graph-col .value {
  position: absolute;
  width: 100%;
  bottom: 100%;
  font-weight: 600;
  font-size: 1.25em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.value.value-1, .value.value-2 {
  font-size: 0.8em;
}
/* End Graph Styling */

/* Compare Songs Styling */
.compare-songs-module { display: none; } /* Hide song comparison tools by default */
.song-select
{
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  font-size: 0px; /* Prevent spacing from inline */
}
.song-select .option
{
  display: inline-block;
  background-color: $extra-light-grey;
  width: 10%;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin: 0% 19%;
  border-radius: 5px;
}
.song-select .option.active
{
  background-color: $apollo-purple;
  color: $white;
}

.two-track-cont .album-image-cont { margin: 0% 14.8%; } /* Give space between albums */
.two-track-cont .album-image-cont img { margin-top: 20%; } /* Need larger margins when showing two albums */
/* End Compare Songs Styling */

/* Album and Playlist Analysis Styling */
.album-module, .playlist-module { display: none; }
/* End Album and Playlist Analysis Styling */

/* Share Button Styling */
.share-btn {
  display: inline-block;
  padding: 5px 10px 5px 20px;
  border-radius: 50px;
  color: $white;
  width: 100px;
  margin-top: 10px;
  font-size: 14px;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: 20px center;
  cursor: pointer;
}

.fb-share, .twitter-share {
  background-position: 15% center;
  border: none;
}

.fb-share
{
  background-color: $fb-blue;
  background-image: url(../images/icons/facebook.svg);
}
.fb-share:hover { background-color: $fb-blue-dark; }

.twitter-share
{
  background-color: $twitter-blue;
  background-image: url(../images/icons/twitter.svg);
}
.twitter-share:hover { background-color: $twitter-blue-dark; }

/* End Share Button Styling */


/**
 * Vue Animation styling
 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/**
 * Generic Styling (Helpers)
 */
.zero-top {
  padding-top: 0px;
  margin-top: 0px;
}

.zero-bot {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
