/* If the current view has no Spotify object selected, give a background */
body
{
	background-image: url("../images/grey-background.png");;
	transition: background-image 0.5s;
	background-size: auto 100%;
}
body.empty-view
{
	/*background: linear-gradient(purple, #673ab7); */
	background-image: url("../images/gradient-background.png");;
}

.page-container
{
	font-family: 'Montserrat', sans-serif;
	color: #1d1d1d;
	margin-top: 0px;
}

/* Customize the header color */
header { background-color: rgb(90, 0, 93); }

/* Add basic pill button styling */
.apollo-btn
{
	background-color: #673AB7;
	border-radius: 100px;
	display: inline-block;
	padding: 5px 30px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	font-size: 14px;
}

/* Add hover to not diabled apollo buttons */
.apollo-btn:not(.disabled):hover
{
	background-color: #804be0;
}

/* Make grey if disabled */
.apollo-btn.disabled { background-color: #c5c5c5; }

/***************************/
/***** PREAUTH STYLING *****/
/***************************/
.pre-authorize .banner
{
	background: linear-gradient(purple, #673ab7);
	color: white;
	padding: 200px 0px;
	margin-bottom: 30px;
}
/* Make main Apollo text very large with no bottom margin */
.main-title
{
	font-size: 84px;
	font-weight: normal;
	margin-bottom: 0px;
}
.sub-title
{
	margin-top: 10px;
	font-weight: normal;
	font-size: 28px;
}
.pre-authorize .page-limiter { max-width: 1200px; }
.pre-authorize .description-text
{
	line-height: 1.5;
	width: 80%;
	text-align: left;
	font-size: 24px;
}
.pre-authorize .section
{
	margin: 30px auto;
	padding: 200px 0px;
}
.pre-authorize .section:last-of-type { padding-bottom: 100px } /* Remove some bottom padding on last section, since body already has it */
.pre-authorize .section.has-background
{
	background: linear-gradient(#673ab7, purple);
	color: white;
}
.pre-authorize .section h2
{
	text-align: left;
	width: 80%;
	margin-top: 40px;
	font-size: 38px;
}
.pre-authorize .section:not(.has-background) h2
{
	color: #673AB7;
}
.pre-authorize .section .screenshot
{
	width: 38%;
	display: inline-block;
}
.pre-authorize .section .text
{
	width: 58%;
	display: inline-block;
	vertical-align: top;
}
.pre-authorize .section .text.right-text h2,
.pre-authorize .section .text.right-text p
{
	margin-left: 20%;
}

.pre-authorize .caption
{
	margin-bottom: 20px;
	color: #3c3c3c;
	margin-top: 5px;
}
/* Style button for logging in */
#spotify-authorize
{
	font-size: 18px;
	background-color: transparent;
	border: solid 2px white;
	transition: background-color 0.2s;
	padding: 8px 40px;
	margin: 20px 0px;
}
#spotify-authorize:hover { background-color: rgba(255, 255, 255, 0.1); }
#spotify-authorize img
{
	float: left;
	height: 21px;
	margin-right: 10px;
}
#spotify-authorize span { line-height: 21px; }

/* Style Github Link */
.github-notice
{
	font-weight: normal;
	margin-top: 0px;
}

.github-notice a, .github-notice a:focus, .github-notice a:hover { color: white; }

.github-notice a {
	text-decoration: none;
	opacity: 0.75;
}
.github-notice a:hover { opacity: 1; }

.github-notice img
{
	width: 20px;
	vertical-align: text-bottom;
	margin-left: 10px;
}

/***************************/
/*** END PREAUTH STYLING ***/
/***************************/

/* Hide feature-rich panel by default (wait till auth) */
.post-authorize
{
	display: none;
	margin-top: 10px;
}

/* Hide Apollo graphing and track display until a song is loaded */
#apollo-main { display: none; }

/* Style the top menu */
.menu-bar
{
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 5px;
}
.menu-option
{
	width: 25%;
	background-color: #dadada;
	vertical-align: top;
	padding: 10px 0px;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	border: solid 1px #f3f3f3;
	border-bottom: 0px;
	border-top: 0px;
}

/* Remove border on edges and added rounding */
.menu-option:first-of-type { border-left: 0px; }
.menu-option:last-of-type { border-right: 0px; }

.menu-option:hover
{
	background-color: #bdbdbd;
}
.menu-option.active
{
	background-color: #673ab7;
	color: white;
}
.menu-option .text { margin-top: 5px }
.menu-sep
{
	width: 0.2%;
	height: 80%;
	margin-top: 0.7%;
	background: grey;
	float: left;
}
.menu-option .icon
{
	height: calc(100% - 20px);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 20px;
}
.menu-option#song .icon { background-image: url("../icons/menu/song.png"); }
.menu-option#song-compare .icon { background-image: url("../icons/menu/songcompare.png"); }
.menu-option#album .icon{ background-image: url("../icons/menu/album.png"); }
.menu-option#playlist .icon { background-image: url("../icons/menu/playlist.png"); }

.menu-option.active#song .icon { background-image: url("../icons/menu/song-white.png"); }
.menu-option.active#song-compare .icon { background-image: url("../icons/menu/songcompare-white.png"); }
.menu-option.active#album .icon{ background-image: url("../icons/menu/album-white.png"); }
.menu-option.active#playlist .icon { background-image: url("../icons/menu/playlist-white.png"); }

.input-bar-cont { transition: margin-top 0.5s; }

.input-bar-cont.active { margin-top: 10%; }

.input-bar-cont #interact-prompt
{
	font-weight: normal;
	color: white;
}

.input-bar
{
	position: relative;
	background: #dadada;
	padding: 10px 30px;
	margin: auto;
	display: inline-block;
	border-radius: 5px;
	text-align: left;
}
.input-bar .apollo-btn
{
	width: 140px;
	text-align: center;
}
.input-label
{
	display: inline-block;
	width: 170px;
	text-align: right;
}

input[type="text"]
{
	width: 300px;
	height: 29px;
	margin-left: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px grey inset;
	padding: 0px 10px;
	border: none;
	font-size: 14px;
	outline: none !important;
}
#search-field
{
	margin-top: 5px;
	/*background-image: url("search.svg");*/
	background-size: auto 70%;
	background-repeat: no-repeat;
	background-position: 98% center;
}

/* Search Styling */
.search-results
{
	display: none;
	position: absolute;
	top: 73px;
	left: 206px;
	z-index: 15;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 2px 3px #404040;
	background: #bdbdbd;
	width: 500px;
	padding: 5px;
}
#search-no-results
{
	padding: 0px 30px;
	font-weight: normal;
}
.search-listing
{
	height: 100px;
	text-align: left;
	background-color: #8a8a8a;
	padding: 10px;
	cursor: pointer;
	width: 100%;
	box-shadow: border-box;
	margin-bottom: 5px;
}
.search-listing:last-of-type { margin-bottom: 0px; }
.search-listing:hover
{
	background-color: #dadada;
}
.search-listing img
{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-right: 10px;
}
.search-listing .listing-text
{
	display: inline-block;
	position: relative;
	vertical-align: top;
	top: 25%;
	max-width: calc(100% - 120px)
}
.listing-text .track-title
{
	font-size: 18px;
	font-weight: bold;
}
.listing-text .author { font-size: 14px; }
/* End Search Styling */

#spotify-error
{
	display: none;
	background-color: #ff7f7f;
	padding: 10px 30px;
	/*display: inline-block;*/
	margin: 10px 0px;
	border-radius: 5px;
	color: white;
}

.album-image-cont
{
	position: relative;
	width: 20%;
	display: inline-block;
	cursor: pointer;
}
.album-image-cont img
{
	box-shadow: 2px 2px 5px grey;
	margin-top: 10%;
}
.album-image-cont .album-image
{
	position: relative;
	width: 100%;
	z-index: 10;
}
.album-image-cont .record
{
	border-radius: 100px;
	position: absolute;
	top: -10%;
	z-index: 5;
	width: 96%;
	left: 2%;
}
.album-image-cont:hover > .record.hidden
{
	top: -12% !important;
}
/* If playing a song */
@keyframes spin {
  to { transform: rotate(360deg); }
}
.album-image-cont.playing .record
{
	-moz-animation: spin 30s linear infinite;
	-o-animation: spin 30s linear infinite;
	-webkit-animation: spin 30s linear infinite;
	animation: spin 30s linear infinite;
}
.album-image-cont.playing .album-image { z-index: -5; }
.track-info .track-text
{
	width: 78.5%;
	margin-left: 1%;
	vertical-align: top;
	display: inline-block;
	margin-top: 20px;
	background: #dadada;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}
.track-info #title { margin: 0px; }
.track-info #artists { margin-top: 0px; }


.non-graph-data .left-col, .right-col
{
	text-align: left;
	width: 48%;
	display: inline-block;
	box-sizing: border-box;
}
.non-graph-data .left-col
{
	padding-left: 20%;
}
.non-graph-data .right-col
{
	padding-right: 20%;
	margin-left: 2%;
}
.non-graph-data .data-item
{
	margin-right: 10px;
	height: 30px;
}
.non-graph-data .left-text
{
	color: #484747;
	float: left;
}
.non-graph-data .right-text { float: right; }


/* Graph Styling */
.graph-top-cont
{
	background: #dadada;
	border-radius: 5px;
	margin-top: 10px;
}
.graph-cont
{
	padding-top: 2%;
	background: white;
	height: 50%;
}
.graph-col
{
	display: inline-block;
	position: relative;
	width: calc(100% / 7);
	height: 100%;
}
.col-title
{
	width: calc(100%/7);
	display: inline-block;
	position: relative;
	padding-bottom: 10px;
	text-overflow: ellipsis;
}
.col-title:hover > .col-desc { display: block; }
.col-title .std-dev {
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	margin: 5px auto 0px auto;
	color: #272727;
}
.col-desc {
	position: absolute;
	width: 250%;
	left: -75%;
	bottom: 95%;
	padding: 10px;
	box-sizing: border-box;
	background: #404040;
	color: white;
	border-radius: 5px;
	display: none;
	z-index: 5;
}
.col-desc::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #404040 transparent transparent transparent;
}
/* Add column icons */
.col-icon
{
	width: 25%;
	padding-bottom: 25%; /* Makes divs square if matches width */
	margin: 10% auto 5% auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.acousticness .col-icon { background-image: url("../icons/acousticness.png"); }
.danceability .col-icon { background-image: url("../icons/danceability.png"); }
.energy .col-icon { background-image: url("../icons/energy.png"); }
.instrumentalness .col-icon { background-image: url("../icons/instrumentalness.png"); }
.liveness .col-icon { background-image: url("../icons/liveness.png"); }
.speechiness .col-icon { background-image: url("../icons/speechiness.png"); }
.valence .col-icon { background-image: url("../icons/valence.png"); }


.graph-col .fill
{
	background: #673ab7;
	position: absolute;
	bottom: 0;
	width: 80%;
	left: 10%;
	height: 0%;
	transition: height 1s;
}
.fill.fill-1, .fill.fill-2 {
	width: 40%;
}
.fill.fill-1 { background-color: #8b4df9; }
.fill.fill-2 { left: 50%; }

.graph-col .value {
	position: absolute;
	width: 100%;
	bottom: 100%;
	font-weight: 600;
	font-size: 1.25em;
	text-overflow: ellipsis;
	overflow: hidden;
}
.value.value-1, .value.value-2 {
	font-size: 0.8em;
}
/* End Graph Styling */

/* Compare Songs Styling */
.compare-songs-module { display: none; } /* Hide song comparison tools by default */
.song-select
{
	border-radius: 5px;
	overflow: hidden;
	margin-top: 10px;
	font-size: 0px; /* Prevent spacing from inline */
}
.song-select .option
{
	background-color: #dadada;
	width: 10%;
	display: inline-block;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
	margin: 0% 19%;
	border-radius: 5px;
}
.song-select .option.active
{
	background-color: #673ab7;
	color: white;
}

.two-track-cont .album-image-cont { margin: 0% 14.8%; } /* Give space between albums */
.two-track-cont .album-image-cont img { margin-top: 20%; } /* Need larger margins when showing two albums */
/* End Compare Songs Styling */

/* Album and Playlist Analysis Styling */
.album-module, .playlist-module { display: none; }
/* End Album and Playlist Analysis Styling */

/* Share Button Styling */
.share-btn {
	display: inline-block;
	padding: 5px 10px 5px 20px;
	border-radius: 50px;
	color: white;
	width: 100px;
	margin-top: 10px;
	font-size: 14px;
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-position: 20px center;
	cursor: pointer;
}

.fb-share
{
	background-color: #3B5998;
	background-image: url(../images/facebook.svg);
}
.fb-share:hover { background-color: #567dce; }

.twitter-share
{
	background-color: #55acee;
	background-image: url(../images/twitter.svg);
}
.twitter-share:hover { background-color: #5eb9ff; }

/* End Share Button Styling */

/* Generic Styling */
.zero-top
{
	padding-top: 0px;
	margin-top: 0px;
}
.zero-bot
{
	padding-bottom: 0px;
	margin-bottom: 0px;
}