/* Add basic pill button styling */
.apollo-btn
{
	background-color: #673AB7;
	border-radius: 100px;
	display: inline-block;
	padding: 5px 30px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	font-size: 14px;
}

/* Add hover to not diabled apollo buttons */
.apollo-btn:not(.disabled):hover
{
	background-color: #804be0;
}

/* Make grey if disabled */
.apollo-btn.disabled { background-color: #c5c5c5; }

#track-id
{
	margin-top: 10px;
	margin-left: 5px;
	width: 300px;
	height: 29px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px grey inset;
	padding: 0px 10px;
	border: none;
	outline: none !important;
}

.track-info { display: none; }
.track-info .album-image
{
	width: 20%;
	display: inline-block;
	box-shadow: 2px 2px 5px grey;
}
.track-info .track-text
{
	width: 79.5%;
	vertical-align: top;
	display: inline-block;
}
.track-info h2 { margin-bottom: 0px; }
.track-info h3 { margin-top: 0px; }
.non-graph-data span { margin-right: 10px; }

.graph-cont
{
	background: white;
	margin-top: 10px;
	height: 60%;
}
.graph-col
{
	display: inline-block;
	position: relative;
	width: calc(100% / 7);
	height: 100%;
}
.col-title:hover > .col-desc { display: block; }
.col-desc {
	position: absolute;
	width: 250%;
	left: -75%;
	top: 30px;
	padding: 10px;
	box-sizing: border-box;
	background: gainsboro;
	display: none;
	z-index: 5;
}
.graph-col .fill
{
	background: #673ab7;
	position: absolute;
	bottom: 0;
	width: 90%;
	left: 5%;
	height: 0%;
	transition: height 1s;
}
.graph-col .value {
	position: absolute;
	width: 100%;
	bottom: 0.5em;
	font-weight: 600;
	color: white;
	font-size: 1.25em;
}
.graph-col .value.dark-text { color: black; }