.page-container
{
	font-family: 'Montserrat', sans-serif;
	color: #1d1d1d;
}

/* Add basic pill button styling */
.apollo-btn
{
	background-color: #673AB7;
	border-radius: 100px;
	display: inline-block;
	padding: 5px 30px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	font-size: 14px;
}

/* Add hover to not diabled apollo buttons */
.apollo-btn:not(.disabled):hover
{
	background-color: #804be0;
}

/* Make grey if disabled */
.apollo-btn.disabled { background-color: #c5c5c5; }

/* Make main Apollo text very large with no bottom margin */
.main-title
{
	font-size: 72px;
	font-weight: normal;
	margin-bottom: 0px;
}
.sub-title
{
	margin-top: 10px;
	font-weight: normal;
}
.pre-authorize .description-text
{
	line-height: 1.5;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.pre-authorize .screenshot
{
	width: 44%;
	margin: 0% 2% 0% 2%;
	box-shadow: 0px 0px 3px grey;
}
.pre-authorize .caption
{
	margin-bottom: 20px;
	color: #3c3c3c;
	margin-top: 5px;
}

/* Hide feature-rich panel by default (wait till auth) */
.post-authorize { display: none; }

.input-bar
{
	position: relative;
	background: #dadada;
	padding: 10px 30px;
	margin: auto;
	display: inline-block;
	border-radius: 5px;
	text-align: left;
}
.input-bar .apollo-btn
{
	width: 140px;
	text-align: center;
}
.input-label
{
	display: inline-block;
	width: 170px;
	text-align: right;
}

input[type="text"]
{
	width: 300px;
	height: 29px;
	margin-left: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px grey inset;
	padding: 0px 10px;
	border: none;
	font-size: 14px;
	outline: none !important;
}
#track-search
{
	margin-top: 5px;
	background-image: url("search.svg");
	background-size: auto 70%;
	background-repeat: no-repeat;
	background-position: 98% center;
}

.or-row
{
	margin: 10px 0px;
}
.or-break
{
	display: inline-block;
	width: 43%;
	border: solid 1px #281d1d;
	margin: 5px 15px;
}

/* Search Styling */
.search-results
{
	position: absolute;
	top: 73px;
	left: 206px;
	z-index: 10;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 2px 3px #404040;
}
.search-listing
{
	height: 100px;
	text-align: left;
	background-color: #bdbdbd;
	padding: 10px;
	cursor: pointer;
}
.search-listing:hover
{
	background-color: #673ab7;
	color: white;
}
.search-listing img
{
	display: inline-block;
	height: 100%;
	margin-right: 10px;
}
.search-listing .listing-text
{
	display: inline-block;
	position: relative;
	vertical-align: top;
	top: 25%;
	width: calc(100% - 115px);
}
.listing-text .track-title
{
	font-size: 18px;
	font-weight: bold;	
}
.listing-text .author { font-size: 14px; }
/* End Search Styling */

#track-error
{
	display: none;
	background-color: #ff7f7f;
	padding: 10px 30px;
	/*display: inline-block;*/
	margin: 10px 0px;
	border-radius: 5px;
	color: white;
}

.track-info { display: none; }
.track-info .album-image-cont
{
	position: relative;
	width: 20%;
	display: inline-block;
	cursor: pointer;
}
.track-info .album-image-cont img
{
	box-shadow: 2px 2px 5px grey;
	margin-top: 10%;
}
.track-info .album-image-cont .album-image
{
	position: relative;
	width: 100%;
}
.track-info .album-image-cont .record
{
	border-radius: 100px;
	position: absolute;
	top: -10%;
	z-index: -1;
	width: 96%;
	left: 2%;
}
.album-image-cont:hover > .record
{
	top: -12%;
}
/* If playing a song */
@keyframes spin {
  to { transform: rotate(360deg); }
}
.album-image-cont.playing .record
{
	-moz-animation: spin 30s linear infinite;
	-o-animation: spin 30s linear infinite;
	-webkit-animation: spin 30s linear infinite;
	animation: spin 30s linear infinite;
}
.album-image-cont.playing .album-image { z-index: -5; }
/*.track-info .album-image-cont:hover > .record { top: -50%; }*/
.track-info .track-text
{
	width: 78.5%;
	margin-left: 1%;
	vertical-align: top;
	display: inline-block;
	margin-top: 20px;
	background: #dadada;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}
.track-info #title { margin: 0px; }
.track-info #artists { margin-top: 0px; }
.non-graph-data .left-col, .right-col
{
	text-align: left;
	width: 48%;
	display: inline-block;
	box-sizing: border-box;
}
.non-graph-data .left-col
{
	padding-left: 20%;
}
.non-graph-data .right-col
{
	padding-right: 20%;
	margin-left: 2%;
}
.non-graph-data .data-item
{
	margin-right: 10px;
	height: 30px;
}
.non-graph-data .left-text
{
	color: #484747;
	float: left;
}
.non-graph-data .right-text { float: right; }

.graph-top-cont
{
	background: #dadada;
	border-radius: 5px;
	margin-top: 10px;
}
.graph-cont
{
	padding-top: 2%;
	background: white;
	height: 48%;
}
.graph-col
{
	display: inline-block;
	position: relative;
	width: calc(100% / 7);
	height: 100%;
}
.col-title
{
	width: calc(100%/7);
	display: inline-block;
	position: relative;
	padding-bottom: 10px;
}
.col-title:hover > .col-desc { display: block; }
.col-desc {
	position: absolute;
	width: 250%;
	left: -75%;
	bottom: 95%;
	padding: 10px;
	box-sizing: border-box;
	background: #404040;
	color: white;
	border-radius: 5px;
	display: none;
	z-index: 5;
}
.col-desc::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #404040 transparent transparent transparent;
}
/* Add column icons */
.col-icon
{
	width: 25%;
	padding-bottom: 25%; /* Makes divs square if matches width */
	margin: 10% auto 5% auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.acousticness .col-icon { background-image: url("icons/acousticness.png"); }
.danceability .col-icon { background-image: url("icons/danceability.png"); }
.energy .col-icon { background-image: url("icons/energy.png"); }
.instrumentalness .col-icon { background-image: url("icons/instrumentalness.png"); }
.liveness .col-icon { background-image: url("icons/liveness.png"); }
.speechiness .col-icon { background-image: url("icons/speechiness.png"); }
.valence .col-icon { background-image: url("icons/valence.png"); }


.graph-col .fill
{
	background: #673ab7;
	position: absolute;
	bottom: 0;
	width: 80%;
	left: 10%;
	height: 0%;
	transition: height 1s;
}
.graph-col .value {
	position: absolute;
	width: 100%;
	bottom: 100%;
	font-weight: 600;
	font-size: 1.25em;
}
