// Basic colors
$purple: #800080;
$extra-light-grey: #DADADA;
$light-grey: #C5C5C5;
$mid-grey: #808080;
$text-grey: #1D1D1D;
$charcoal: #404040;
$white: #FFFFFF;


$transparent-black: rgba(0, 0, 0, 0.3);

// Brand colors
$apollo-purple: #673AB7;
$apollo-purple-light: #804BE0;
$apollo-purple-dark: #512D8F;
$apollo-red: #FF7F7F;

// Social button colors
$fb-blue: #3B5998;
$fb-blue-dark: #567DCE;
$twitter-blue: #55ACEE;
$twitter-blue-dark: #5EB9FF;