<html>
<head>
	<title>Apollo</title>

	<link href="css/main.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

	<script src="js/main.js"></script>

	{% for stylesheet in page.stylesheets %}
		<link href="css/{{  stylesheet }}" rel="stylesheet">
	{% endfor %}

	{% for script in page.scripts %}
		<script src="js/{{ script }}"></script>
	{% endfor %}

	{{ stylesheets }}

	<link rel="shortcut icon" type="image/png" href="logo.png"/>

	<!-- Load Open Sans from Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,800italic,800,700,700italic,600italic,600,400italic" rel="stylesheet" type="text/css">

	{% if page.metadata %}
		<meta name="theme-color" content="{{ page.metadata[0].theme_color }}">
		<meta name="description" content="{{ page.metadata[0].description }}">
		{% if page.metadata[0].og_title %}
			<meta property="og:title" content="{{ page.metadata[0].og_title }}" />
			<meta property="og:description" content="{{ page.metadata[0].og_description }}" />
			<meta property="og:image" content="{{ page.metadata[0].image }}" />

			<!-- Twitter Info -->
			<meta name="twitter:card" content="summary_large_image">
			<meta name="twitter:title" content="{{ page.metadata[0].og_title }}">
			<meta property="twitter:description" content="{{ page.metadata[0].og_description }}" />
			<meta property="og:image" content="{{ page.metadata[0].image }}" />
		{% endif %}
	{% else %}
		<meta name="theme-color" content="#D80000">
		<meta name="description" content="The personal website of Viktor K&ouml;ves - software engineer, game developer, and digital design enthusiast.">
		<meta property="og:description" content="The personal website of Viktor K&ouml;ves - software engineer, game developer, and digital design enthusiast." />
		<meta property="og:image" content="http://viktorkoves.com/images/logo.png" />
	{% endif %}


	<meta name="viewport" content="width=450, initial-scale=0.75">
	<meta name="google-site-verification" content="aivQX75RILmCefXvQj496cBxd8ycZ-AWTKRMQJGoyA4" />

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-39148744-3', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body>
	<header>
	  <div id="header-inside">
	    <span id="title">
	    	<a href="/" class="local-link">Apollo</a>
	    	by
	    	<a href="https://viktorkoves.com" target="_blank" rel="noopener">Viktor K&ouml;ves</a>
	    </span>
	  </div>
	</header>

	<main class="page-container {{ page.pageClass }}">
		{{ content }}
	</main>
</body>
</html>
